@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    display: flex;
    align-items: center;
    /* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */
}

body{
    font-size: 15px;
    background-color: hsl(233, 47%, 7%);
}

.backg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsl(277, 64%, 61%);
    width: 100%;
    height: 100%;
}

.container{
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    border-radius: .5rem;
    background: hsl(244, 38%, 16%);
    margin-bottom: 2rem;
    overflow: hidden;
}

.image{
    width: 50%;
    position: relative;
}

.backg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsla(277, 100%, 23%, 0.561);
    width: 100%;
    height: 100%;
}

.content{
    width: 50%;
    padding: 3.5rem 6rem 3.5rem 3.5rem;
}

img{
    display: block;
    width: 100%;
}

h1{
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
    margin-bottom: 2rem;
}

span{
    color: hsl(277, 64%, 61%);
}

.para{
    font-family: 'Inter', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 4rem;
    line-height: 1.35rem;
    font-size: .8rem;
}

.box{
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}

.box h2{
    font-size: 1.3rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: .5rem;
}

.box p{
    font-size: 0.7rem;
    color: hsla(0, 0%, 100%, 0.6);
    letter-spacing: .1rem;
}

.attribution{
    color: white;
    font-size: 12px;
    text-align: center;
}

.attribution a{
    color: hsl(277, 64%, 61%);
}
